*.ps  linguist-documentation
*.pdf  linguist-documentation
*.cir  linguist-language=LTspice
*.sch  linguist-detectable
*.gv  linguist-detectable
*.gbr  linguist-detectable
*.reg  linguist-language=Shell
